.DS_Store

# Python
__pycache__/
*.pyc

# Dependencies
node_modules/
.venv/
leaflet-omnivore-master/

# Testing
.pytest_cache/

# Utility Scripts
normalize_filenames.py
migrate_bootstrap.py
refactor_sites.py
map_failure.png
verify_links.py
